@import './base.css';

/* Reset any default margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

.green {
  color: hsla(160, 100%, 37%, 1);
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
